<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Inkl\Check24\Api\Data\OrderInterface" type="Inkl\Check24\Model\Order"/>
    <preference for="Inkl\Check24\Api\OrderRepositoryInterface" type="Inkl\Check24\Model\OrderRepository"/>
    <preference for="Inkl\Check24\Api\OrderProviderInterface" type="Inkl\Check24\Model\OrderProvider"/>
    <preference for="Inkl\Check24\Api\OrderManagementInterface" type="Inkl\Check24\Model\OrderManagement"/>
    <preference for="Inkl\Check24\Api\Data\OrderSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="check24_import_order" xsi:type="object">Inkl\Check24\Console\Command\ImportOrderCommand</item>
                <item name="check24_process_order" xsi:type="object">Inkl\Check24\Console\Command\ProcessOrderCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Inkl\Check24\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Inkl\Check24\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">inklCheck24Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Inkl\Check24\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
